.hero {
  padding: 1rem 2rem;
  font-family: var(--font-family);
}
.hero-first {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.hero-first-left {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 4rem;
}

.hero-first-left-heading {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}

.hero-first-left-heading-first {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-family: var(--font-famliy);
  font-weight: 700;
  line-height: 56px;
}

.hero-first-left-heading-first-left {
  font-size: 30px;
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-first-left-heading-first-right {
  font-size: 27px;
  padding-left: 10px;
  color: var(--color-white);
}

.hero-first-left-heading-second {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-family: var(--font-famliy);
  font-weight: 700;
}

.hero-first-left-heading-second-left {
  font-size: 27px;
  color: var(--color-white);
}

.hero-first-left-heading-second-right {
  font-size: 30px;
  background: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 15px;
}

.hero-first-left-text {
  font-family: var(--font-famliy);
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  padding-bottom: 2rem;
  color: var(--color-white);
}

.hero-first-left-third {
  display: flex;
  justify-content: flex-start;
}

.hero-first-left-third button {
  background: var(--gradient-btn);
  padding: 17px 36px;
  border: none;
  border-radius: 40px;
  font-family: var(--font-famliy);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-btn-font);
  cursor: pointer;
}

.hero-first-left-third img {
  cursor: pointer;
}

.hero-first-left-third {
  display: flex;
}

.hero-first-left-third img {
  width: 100px;
  height: 100px;
}

.hero-first-right {
  flex: 1;
}

.hero-first-right img {
  width: 735.03px;
  height: 700px;
}

.hero-second {
  box-sizing: border-box;
  border-radius: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 50% 50%,
    rgba(58, 52, 86, 0.95) 0%,
    rgba(33, 30, 46, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 50% 50%,
    rgba(58, 52, 86, 0.95) 0%,
    rgba(33, 30, 46, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 50% 50%,
    rgba(58, 52, 86, 0.95) 0%,
    rgba(33, 30, 46, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 50% 50%,
    rgba(58, 52, 86, 0.95) 0%,
    rgba(33, 30, 46, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(58, 52, 86, 0.95) 0%,
    rgba(33, 30, 46, 1) 100%
  );
}

.hero-second-location {
  display: flex;
  align-items: center;
  padding: 2rem 4rem 2rem 0;
  border-right: 1px solid rgba(192, 183, 232, 0.33);
  gap: 4px;
}

.hero-second-location-left img {
  width: 70px;
  height: 70px;
}

.hero-second-location-right {
  display: flex;
  flex-direction: column;

  font-family: var(--font-famliy);
  color: var(--color-white);
}

.hero-second-location-right-heading {
  font-size: 24px;
  font-weight: 700;
}

.hero-second-location-right-text {
  font-size: 14px;
  font-weight: 400;
}

.hero-second-phone {
  display: flex;
  align-items: center;
  padding: 2rem 4rem 2rem 0;
  gap: 16px;
}

.hero-second-phone-left img {
  width: 59px;
  height: 59px;
}

.hero-second-phone-right {
  display: flex;
  flex-direction: column;

  font-family: var(--font-famliy);
  color: var(--color-white);
}

.hero-second-phone-right-heading {
  font-size: 24px;
  font-weight: 700;
}

.hero-second-phone-right-text {
  font-size: 14px;
  font-weight: 400;
}

.hero-second-mail {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 4rem;
  border-left: 1px solid rgba(192, 183, 232, 0.33);
  gap: 16px;
}

.hero-second-mail-left img {
  width: 65px;
  height: 65px;
}

.hero-second-mail-right {
  display: flex;
  flex-direction: column;

  font-family: var(--font-famliy);
  color: var(--color-white);
}

.hero-second-mail-right-heading {
  font-size: 24px;
  font-weight: 700;
}

.hero-second-mail-right-text {
  font-size: 14px;
  font-weight: 400;
}
