.tech {
  padding: 2rem 2rem 0 2rem;
  font-family: var(--font-family);
  color: var(--color-white);
}

.tech-first {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 160px;
  background-image: url("../../assets/tech.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 100px; */
}

.tech-first-heading {
  padding: 100px 0 5px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.tech-first-subheading {
  padding: 5px 0 50px 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.tech-first-icon{
    position: relative;
    bottom: -40px;
    cursor: pointer;
}


.tech-second {
  display: flex;
  justify-content: center;
}
