@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --font-famliy: "Montserrat", sans-serif;

  --gradient-btn: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  --gradient-hero-heading1: linear-gradient(
    91.57deg,
    #c0b7e8 -1.02%,
    #8176af 36.25%
  );
  --color-bg: #302c42;
  --color-white: #ffffff;
  --color-menu: #211e2e;

  --color-btn-font: #343045;
}
